<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}} <p>{{name}}</p>
        <img class="profile-pic" src="./images/wale.jpg" alt="">
    </div>

    {{>footer}}
</body>

</html>