<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Adewale Olaoye. It uses data from <a href="mapbox.com">Mapbox</a> and <a
                href="darksky.net">Darksky</a></p>
        <img class="portrait" src="/img/wale.jpg">
    </div>

    {{>footer}}
</body>

</html>