<!DOCTYPE html>


<head>
    <title>Weather</title>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this Site to get your weather!</p>
    </div>


    {{>footer}}
</body>

</html>